@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");

body {
  background-color: rgb(53, 11, 150);
  color: rgb(243, 245, 241);
  font-family: "poppins", sans-serif;
  margin: 0;
}

header {
  background-color: rgb(63, 13, 180);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.search {
  background-color: transparent;
  border: 2px solid rgb(42, 9, 117);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  margin-right: 1rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}

.movie {
  background-color: rgb(63, 13, 180);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin: 1rem;
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  position: absolute;
  background-color: rgb(238, 199, 220);
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  color: rgb(63, 22, 102);
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.search:focus {
  outline: none;
}

.tag {
  background-color: rgb(42, 9, 117);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(27, 255, 84);
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

a {
  background-color: rgb(42, 9, 117);
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
}
